<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <input type="radio" id="tarefa-1">
                <label for="tarefa-1">Completar curso de Javascript</label>

                <button>
                    <img src="/imagens/x-icon.png" alt="Ãcone de X para excluir uma tarefa.">
                </button>
            </form>
        </div>
    </section>
</main>